
@font-face {
                      font-family: Yoster;
                      src: url('fonts/yoster.woff');
                  }

                  @font-face {
                      font-family: Romance;
                      src: url('fonts/RomanceA.ttf');
                      
                  }

                  @font-face {
                      font-family: plushie;
                      src: url('fonts/plushie.woff');
                      
                  }

                  @font-face {
                      font-family: PC9800;
                      src: url('fonts/pc-9800.ttf');
             
                  }

                         @font-face {
                      font-family: PC9800;
                      src: url('fonts/pc-9800-bold.ttf');
                      font-weight: bold;
                  }

                        @font-face {
                      font-family: Rainy;
                      src: url('fonts/rainyhearts.ttf');
             
                  }
                      @font-face {
                      font-family: MonoR;
                      src: url('fonts/mononoki-Regular.ttf');
             
                  }
                  @font-face {
                      font-family: Alk;
                      src: url('fonts/Alkhemikal.ttf');
             
                  }
                   @font-face {
                      font-family: Kiwi;
                      src: url('fonts/KiwiSoda.ttf');
             
                  }

body {
	font-family: MonoR, sans-serif;;
}

aside{
color: #ffffff;
font-family: 'Alk', sans-serif;



}