@font-face {
  font-family: "Yoster";
  src: url("/fonts/yoster.woff") format("woff");
}

                  @font-face {
                      font-family: Romance;
                      src: url("/fonts/RomanceA.ttf");
                      
                  }

                  @font-face {
                      font-family: plushie;
                      src: url("/fonts/plushie.woff");
                      
                  }

                  @font-face {
                      font-family: PC9800;
                      src: url("/fonts/pc-9800.ttf");
             
                  }

                         @font-face {
                      font-family: PC9800;
                      src: url("/fonts/pc-9800-bold.ttf");
                      font-weight: bold;
                  }

                        @font-face {
                      font-family: Rainy;
                      src: url("/fonts/rainyhearts.ttf");
             
                  }
                      @font-face {
                      font-family: MonoR;
                      src: url("/fonts/mononoki-Regular.ttf");
             
                  }
          
                  @font-face {
  font-family: "Alk";
  src: url("/fonts/Alkhemikal.ttf") format("truetype");
                  }
                   @font-face {
                      font-family: Kiwi;
                      src: url("/fonts/KiwiSoda.ttf");
             
                  }

                  a:link {
  color: rgb(67, 177, 228);
}

/* visited link */
a:visited {
  color: #c0c0c0;
}

/* mouse over link */
a:hover {
  color: rgb(183, 228, 255);
}

/* selected link */
a:active {
  color: blue;
}

nav{
    display:flex;
    flex-direction:column;
text-align:left;
margin-left:5px;
margin-right:5px;
text-decoration: wavy underline;
font-family: 'Alk', sans-serif;
line-height: 1.5;


}

body {
	font-family: 'Yoster', sans-serif;
    background-color: #dad6ca;


}

.leftSB{
    
    border: 50px solid;
    border-image: url('/img/bor1.png') 50;    
    background-color: #000000;
    color: #daddc3;
    font-family: 'Alk', sans-serif;
    font-size:28px;
    box-sizing: border-box;
    width: 300px;
    min-width: 0;
position: relative;
    justify-content:center;
    text-align: left;


}

.rightSB{
    border: 50px solid;
    border-image: url('/img/bor1.png') 50;    
    background-color: #000000;
    color: #daddc3;
    font-family: 'Alk', sans-serif;
    font-size:28px;
position: relative;
box-sizing:border-box;
width:250px;;
min-width: 0;
    justify-content:center;
    text-align: left;
   }

aside{
color: #8abfb1;
background-color:rgba(0, 0, 0, 0.81);
font-family: 'Alk', sans-serif;
font-size:24px;
width:300px;
justify-content:center;
   



}
.grid-container > * {
  min-width: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: 250px minmax(0, 1fr) 250px;
    gap: 20px;

    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Alk', sans-serif;

}
@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr;
        border: 50px solid transparent;
border-image: url('/img/bor1.png') 50 stretch;
    }
}

.aboutBox {
box-shadow: inset 13px 0px 6px -10px rgb(66 66 66 / 56%), inset -13px 0px 6px -10px rgb(66 66 66 / 56%), inset 0px 13px 6px -10px #ffffff, inset 0px -13px 6px -10px rgb(66 66 66 / 38%);
filter: drop-shadow(0px 0px 1px #424242);
-webkit-filter: drop-shadow(0px 0px 1px #424242);
background:white;
background-image: url('/img/line.png');
color:black;
width:calc(100% - 20px);
height:fit-content;
max-height:190px;
overflow-y:auto;
border-radius:10px;
padding:8px 10px 10px 10px;
box-sizing:border-box;
margin:0 auto;
}


main{
     
  border: 50px solid;
  border-image: url('/img/bor1.png') 50 stretch;
  background-color: #000;
  color: #daddc3;
  font-family: 'Alk', sans-serif;
  font-size: 28px;

  min-height:500px;
      box-sizing: border-box;
    width: 100%;
    min-width: 0;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: 15px;

    background: #fff url('/img/line.png');
    color: black;



}



:root {
        --titlebar-gradient: linear-gradient(90deg,rgba(98, 146, 146, 1) 0%, rgba(68, 118, 124, 1) 35%, rgba(37, 90, 103, 1) 69%, rgba(7, 62, 82, 1) 100%);
        --dialog-blue: #6a1535;
        --dialog-accent: white; /* color of text on diaglog blue */
        --titlebar-color: white; /* reccomended to change so its easy to read on titlebar color */
        --player-image: url('/img/seal.png');

    /*** 98 css styling ***/
    /* while some of these may specify a single element, theyre used across mulitple */
        --surface: #c0c0c0;
        --button-highlight: #ffffff;
        --button-face: #dfdfdf;
        --button-shadow: #808080;
        --light-button-shadow: #a9a9a9;
        --window-frame: #0a0a0a;
        --border-field: inset -1px -1px var(--button-highlight),
            inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face),
            inset 2px 2px var(--window-frame);
    }

    @font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("https://files.catbox.moe/qgjjre.woff") format("woff");
  src: url("https://files.catbox.moe/8fwbkl.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pixelated MS Sans Serif";
    src: url("https://files.catbox.moe/z7csle.woff") format("woff");
    src: url("https://files.catbox.moe/moqhx6.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    }

   

    