@font-face {
  font-family: "Yoster";
  src: url("/fonts/yoster.woff") format("woff");
}

                  @font-face {
                      font-family: Romance;
                      src: url("/fonts/RomanceA.ttf");
                      
                  }

                  @font-face {
                      font-family: plushie;
                      src: url("/fonts/plushie.woff");
                      
                  }

                  @font-face {
                      font-family: PC9800;
                      src: url("/fonts/pc-9800.ttf");
             
                  }

                         @font-face {
                      font-family: PC9800;
                      src: url("/fonts/pc-9800-bold.ttf");
                      font-weight: bold;
                  }

                        @font-face {
                      font-family: Rainy;
                      src: url("/fonts/rainyhearts.ttf");
             
                  }
                      @font-face {
                      font-family: MonoR;
                      src: url("/fonts/mononoki-Regular.ttf");
             
                  }
          
                  @font-face {
  font-family: "Alk";
  src: url("/fonts/Alkhemikal.ttf") format("truetype");
                  }
                   @font-face {
                      font-family: Kiwi;
                      src: url("/fonts/KiwiSoda.ttf");
             
                  }
body{
color: #fff;
background-color: #0003c9;
font-family: 'Alk', sans-serif;
font-size: 52px;

}
.shrineLink{
    color: #000;
    font-family: 'Alk', sans-serif;
    line-height: 2.0;
    font-size: 30px;



}
.shrineLink a{


color:#fff;

}
.shrineLink a:visited{
    color: #67b4d3;
    font-family: 'Alk', sans-serif;
    line-height: 2.0;
    font-size: 30px;



}
.shrineLink a:hover{
    color: #10004b;


}
