
  
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/art.css">
    <title>{{ title }}</title>
  </head>
  
  {% include "partials/topnav.njk" %}

<div class="container">


<div class="artshow">
 
  {% for post in collections.art | reverse %}
    {% if post.data.thumbnail %}
  <a href="{{ post.url }}">
  <img src="/img/thumbnails/{{ post.data.thumbnail }}" loading="lazy" />
  </a> 
  {% endif %}
  {% endfor %}

  
  {{ content | safe }}

  </div>



