<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;600;800;900&family=Work+Sans:wght@400;700;900&display=swap');
  </style>
  <script src="//pull.cappuccicons.com/cpf.js"></script>
</head>

<body>
  <div class="background">
    <div class="page">
      <div class="menu-top">
        <div class="bloc-icon">
          ddd
        </div>
        <div class="menu-text">
          <div class="menu-titre">
            Wiki
          </div>
          <div class="menu-liens">
            lien 1 lien 2
          </div>
        </div>
      </div>
      <div class="content">
        <div class="title">Ursa</div>
        <aside class="infobox">
          <div class="infobox-title">
            Ursa
          </div>
          <div class="infobox-figure" style="background:url('https://i.pinimg.com/originals/ee/61/97/ee6197525237a01d246d4ec9f5c5fc66.jpg')">
            img
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Nom</div>
            <div class="infobox-element-content">Ursa</div>
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Alias</div>
            <div class="infobox-element-content">???</div>
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Lieu actuel</div>
            <div class="infobox-element-content">???</div>
          </div>
          <div class="infobox-sub-title">Informations générales</div>
          <div class="infobox-element">
            <div class="infobox-element-title">Espèce</div>
            <div class="infobox-element-content">Inconnu</div>
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Genre</div>
            <div class="infobox-element-content">Inconnu</div>
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Âge</div>
            <div class="infobox-element-content">Inconnu</div>
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Origines</div>
            <div class="infobox-element-content">Inconnu</div>
          </div>
          <div class="infobox-sub-title">Miscellaneous</div>
          <div class="infobox-element">
            <div class="infobox-element-title">Avatar</div>
            <div class="infobox-element-content">Griffith (Berserk)</div>
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Moodboard</div>
            <div class="infobox-element-content">https</div>
          </div>
          <div class="infobox-element">
            <div class="infobox-element-title">Playlist</div>
            <div class="infobox-element-content">https</div>
          </div>
        </aside>
        <p>

          Vous n'êtes pas votre travail. Vous n'êtes pas votre compte en banque. Vous n'êtes pas votre voiture. Vous n'êtes pas votre portefeuille, ni votre putain de treillis. Vous êtes la merde de ce monde prête à servir à tout.
        </p>
        <div class="summary">
          <div class="summary-title"><span class="summary-title-txt">Sommaire</span></div>
          <div class="summary-content">
            <a href="#apparence">1. Apparence</a>
            <a href="#caractere">2. Caractère</a>
            <a href="#histoire">3. Histoire</a>
            <div class="sub-summary">
              <a href="#apparence">3.1. Apparition</a>
            </div>
            <a href="#histoire">4. Capacités et pouvoirs</a>
            <a href="#histoire">5. Trivia</a>
          </div>
        </div>
        <h1 id="#apparence">Apparence</h1>
        <p>Megiltura caela ie'lle mani marte thanga yassen templa. Amin merna quen Naugrim Andodulin Guinahiroo. Yenearsira amin saesa Sulime bela ed' templa. Mani nae lle umien neuma en' templa Thaurerea Kheleksii. Naugiaur Peredhil Morierea Nwalmaerea.</p>

        <p>Bragollach tel'llach ta tenna' telwan san' esta sinome. Lema ed' ando en' templa Ear'quessir yala onna en' naur Tel'gothrim. Lema ed' templa naar cam Uialtum amin feuya ten' lle. Lova handasse ama tyelka cuamin linduva yassen megrille Unguerea. Lle wethrine amin llie tenna' ento lye omenta Anarya.</p>
        <h1 id="#caractere">Caractère</h1>
        <p>Megiltura caela ie'lle mani marte thanga yassen templa. Amin merna quen Naugrim Andodulin Guinahiroo. Yenearsira amin saesa Sulime bela ed' templa. Mani nae lle umien neuma en' templa Thaurerea Kheleksii. Naugiaur Peredhil Morierea Nwalmaerea.</p>
        <h1 id="#histoire">Histoire</h1>
        <h2 id="#apparition">Apparition</h2>
        <p>Bragollach tel'llach ta tenna' telwan san' esta sinome. Lema ed' ando en' templa Ear'quessir yala onna en' naur Tel'gothrim. Lema ed' templa naar cam Uialtum amin feuya ten' lle. Lova handasse ama tyelka cuamin linduva yassen megrille Unguerea. Lle wethrine amin llie tenna' ento lye omenta Anarya.</p>
        <h1 id="#capacites">Capacités et pouvoirs</h1>
        <p>Megiltura caela ie'lle mani marte thanga yassen templa. Amin merna quen Naugrim Andodulin Guinahiroo. Yenearsira amin saesa Sulime bela ed' templa. Mani nae lle umien neuma en' templa Thaurerea Kheleksii. Naugiaur Peredhil Morierea Nwalmaerea.</p>

        <p>Bragollach tel'llach ta tenna' telwan san' esta sinome. Lema ed' ando en' templa Ear'quessir yala onna en' naur Tel'gothrim. Lema ed' templa naar cam Uialtum amin feuya ten' lle. Lova handasse ama tyelka cuamin linduva yassen megrille Unguerea. Lle wethrine amin llie tenna' ento lye omenta Anarya.</p>
        <h1>Trivia</h1>
        <p>• Info 1</p>
        <p>• Info 2</p>
        <p>• Info 3</p>
      </div>
    </div>
</body>

<style>
body{
  padding: 0px;
  margin: 0px;
  font-family: Work Sans;
  font-size: 13px;
  border-bottom: 0px solid #000;
  
  --img-background: url('https://ekladata.com/ITuSLivTdOFquniX-JliDUX0REo/exo-header2.png') center top no-repeat;
  --background: #080808;
  --content: #111;
  --menu: #181818;
  --accent1: #413347;
  --accent2: #4C6352;
}

body a{
  text-decoration: none;
}

.background {
    background:var(--img-background);
  background-size: contain;
  background-color: var(--background);
  padding: 40px;
 }

.page {
  width: 880px;
  margin: auto;
  margin-bottom: 50px;
}

.menu-top {
  padding-bottom: 20px;
  color: #888;
  display: flex;
  margin-top: 40px;
}

.bloc-icon {
  height: 50px;
  width: 50px;
  padding: 5px;
  background: #111;
  border-radius: 8px;
  margin-right: 10px;
  font-size: 0px;
}

.menu-text{
  padding: 10px;
}

.menu-titre {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}

.content{
  background: var(--content);
  border-radius: 8px;
  padding: 40px;
  color: #999;
  text-align: justify;
}

.content .title{
  font-size: 30px;
  color: #aaa;
  font-weight: 700;
  letter-spacing: 1px;
}

.infobox {
  float: right;
  width: 250px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.infobox-title {
  font-size: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--accent1);
  color: #fff;
  padding: 18px;
  font-weight: 700;
  text-align: center;
}

.infobox-figure {
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  font-size: 0px;
  height: 300px;
  background-size: cover !important;
}

.infobox-sub-title {
  background: var(--accent2);
  color: #fff;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  opacity: 0.5;
}

.infobox-element {
  display: flex;
  border: 1px solid #333;
  border-bottom: 0px;
}

.infobox-element:last-child {
  display: flex;
  border: 1px solid #333;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.infobox-element-title {
  width: 35%;
  padding: 10px;
  font-weight: 700;
  text-align: left;
}

.infobox-element-content {
  width: 65%;
  padding: 10px;
  text-align: left;
}

.summary {
  border-radius: 8px;
  border: 1px solid #333;
  display: table;
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.summary-title-txt:before{
  content:'\ea5c';
  font-family:'cappuccicons';
  margin-right: 8px;
} 

.summary-title {
  padding: 10px;
  border-bottom: 1px solid #333;
  font-weight: bold;
}

.summary-content {
  padding: 10px;
}

.summary-content a{
  display: block;
  padding: 5px;
  font-weight: bold;
  color: var(--accent2);
  margin: 4px;
}

.summary-content a:hover {
  background: #222;
  border-radius: 5px;
  color: var(--accent2);
}

.sub-summary {
  margin-left: 15px;
}

.content h1 {
  font-size: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
  display: flex;
  margin-top: 30px !important;
}

.content h2 {
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 15px;
}
</style>