<div class="aboutBox">
<center>
You can call me Giga. Site in progress, also working on ftm focused site atm. kinda want everything to be under one big site but also might appreciate having a personal site and a project site,,,

</center>
</div>