<div class="my-menu">

<a href="/"><img src='/img/Shock.gif'><div class="menu-text">Home</div></a>

<a href="/blog"><img src='/img/Smile1.gif'><div class="menu-text">Blog (NEW)</div></a>

<a href="/art"><img src='/img/Smile1.gif'><div class="menu-text">Art Gallery (NEW)</div></a>


<a href="/resources"><img src='/img/Weird.gif'><div class="menu-text">  Resources (NEW)</div></a>

<a href="/credits"><div class="linkIcon"><img src='/img/Weird.gif'></div><div class="menu-text">Credits (NEW)</div></a>

</div>