<div class="shrineLink">
<a href="/">FTM Shrine</a>

<a href="/blog">Lil Peep Shrine</a>

<a href="/gallery">Juice Wrld Shrine</a>

<a href="/about"><div class="menu-text">Return Home</div></a>

<a href="/gohard/"><div class="menu-text">Sitemap</div></a>

</div>