<center><a href="https://tamanotchi.world/34449c"><img src="https://tamanotchi.world/i/34449" alt="It's tamaNOTchi! Click to feed!"></a>
<a href="https://tamanotchi.world/34594c"><img src="https://tamanotchi.world/i/34594" alt="It's tamaNOTchi! Click to feed!"></a>
<a href="https://tamanotchi.world/35393c"><img src="https://tamanotchi.world/i/35393" alt="It's tamaNOTchi! Click to feed!"></a></center>