<div class="top-menu">

<a href="/"><img src='/img/Shock.gif'>Home</a>

<a href="/blog"><img src='/img/Smile1.gif'>Blog</a>


<a href="/art"><img src='/img/Smile1.gif'>Art</a>

<a href="/resources"><img src='/img/Weird.gif'>Resources</a>

<a href="/credits"><img src='/img/Weird.gif'>Credits</a>

</div>


