<a href="/blog">
			<img src="img/diary.png">
			<span class="menu-label">blog (NEW)</span>
		</a>
  <a href="/shrines">
			<img src="img/gaming.png">
			<span class="menu-label">shrines (wip!) </span>
		</a>
    <a href="/art">
			<img src="img/gal.png">
			<span class="menu-label">gallery (NEW) </span>
		</a>
          <a href="/ftmshrine">
			<img src="img/vial.png">
			<span class="menu-label">ftm shrine (wip!)</span>
		</a>